<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サンプルHTMLページ</title>
</head>
<body>
    <h1>ようこそ！</h1>
    <p>これはサンプルのHTMLページです。</p>
</body>
</html>

<script type="module">
    import { Octokit, App } from "https://esm.sh/octokit";
</script>
<script type="module">
    import { Octokit } from "https://esm.sh/@octokit/core";
</script>
<script>
    const octokit = new Octokit({
        auth: 'YOUR-TOKEN'
    })
      
  await octokit.request('POST /repos/{owner}/{repo}/hooks', {
    owner: 'OWNER',
    repo: 'REPO',
    name: 'web',
    active: true,
    events: [
        'push',
        'pull_request'
    ],
    config: {
        url: 'https://example.com/webhook',
        content_type: 'json',
        insecure_ssl: '0'
    },
    headers: {
      'X-GitHub-Api-Version': '2022-11-28'
    }
  })
</script>